body {
    margin: 10px;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

/*
 Class for Tool Button (not toggle, just plain button)
 */
.ps-icon{
	width: 24px; 
	height: 24px;
	position:relative;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	background-position: 50% 50%;
	background-origin:content-box;
	background-repeat: no-repeat;
}
